@charset "utf-8";
/* CSS Document */
/*初始化*/
* {
	margin:0;
	padding:0;
	list-style:none;
}

html{

}

dl, ol, ul, li
{
	list-style:none;
}

a
{
	text-decoration:none;
    outline:none;
}

a:hover
{
	text-decoration:underline;
}

a,img
{
	border:none;
}
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background:url(../img/navBackground.jpg) repeat;
}

.mini-head{
	width:100%;
	margin:0 auto;
}

.banner
{
	width:100%;	
}

.banner img
{
	width:100%;
	height:100%;
}

.procedure-div-left
{
	margin:0;
	width:50%;
	height:57px;
	padding:0;
	background:#141414;
	position:relative;
	float:left;
}

.procedure-div-left img
{
	float:right;
}

.procedure-div-right
{
	margin:0;
	width:50%;
	height:57px;
	padding:0;
	position:relative;
	float:left;
	background:#000000;
}		
	
.procedure{
	width:100%;
	height:57px;
}

/*focus begin*/
/*.focus{
	width:1346px;
	margin:0 auto;
}

.focus img{
	width:1346px;
	height:420px;
	margin:0 auto;
}*/
/* focusbox */
.focusbox{position:relative;overflow:hidden;zoom:1;}
#fullbanner{width:960px;height:410px;margin:auto;position:relative;}
#fullbanner li a{display:block;width:950px;height:400px;overflow:hidden;}
#fullbanner img{width:950px;height:400px;}
#fullbanner ul{width:960px;height:410px;}
#fullbanner .wrappic{overflow:visible;position:absolute;}
#fullbanner .next, #fullbanner .prev{filter:alpha(Opacity=70);opacity:.7;position:absolute;top:50%;margin-top:-25px;margin-left:5px;background-color:#303030;z-index:3;}
#fullbanner .next:hover, #fullbanner .prev:hover{background-color:orangered;}
#fullbanner .next{margin:-25px 5px 0 0;right:0;}
#fullbanner .mask-left, #fullbanner .mask-right, #fullbanner .plan{background:#fff;padding:5px;z-index:1;position:absolute;top:0;left:0;width:950px;height:400px;overflow:hidden;left:1920px;}
#fullbanner .mask-right, #fullbanner .mask-left{z-index:4;left:-960px;filter:alpha(Opacity=50);opacity:.5;background:#fff;overflow:hidden;}
#fullbanner .mask-right{left:960px;}

.arrow-left,.arrow-right{background:url(../img/icon-sd26986d847.png) no-repeat;}
.arrow-left{background-position:15px 12px;height:50px;width:50px;}
.arrow-left:hover{background-position:-45px 12px;}
.arrow-right{background-position:-103px 12px;height:50px;width:50px;}
.arrow-right:hover{background-position:-163px 12px;}
/*focus box end*/
/*focus end*/


.nav{
	width:100%;
}

.nav-head p
{
	text-align:center;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#FFF;
	font-size:16px;
	margin-top:15px;
	margin-bottom:5px;
}
.logo-nav
{
	width:900px;
	margin:0 auto;
	height:70px;
}

.logo-nav-ul
{
	width:900px;
	margin:0 auto;
}

.logo-nav-list
{
	width:90px;
	height:30px;
	position:relative;
	float:left;
	border:none;
	margin:0 0 5px 0;
}
.logo-nav-list a{
	display:block;
	width:90px;
	height:30px;
}
.logo-nav-list:hover{
	background:url(../img/brand1-hover2.png) no-repeat;
}

.price-nav
{
	width:900px;
	margin:0 auto;
	height:30px;
	margin-top:5px;
	background:#000;
}
.price-nav-ul
{
	width:900px;
	margin:0 auto;	
}

.price-nav-list
{
	width:88px;
	height:30px;
	float:left;
	margin:0 0 5px 0;
	
}

.price-nav-list a
{
	font-family:"微软雅黑";
	font-size:14px;
	color:#FFF;
	width:88px;
	height:25px;
	text-align:center;
	display:block;
	padding-top:6px;
}

.price-nav-list a:hover
{
	text-decoration:none;
	color:#FF0;
}

.main {
	width:900px;
	margin:0 auto;
}

.footer{
	width:900px;
	margin:0 auto;
	padding:0;
}

.footer img{
    width:900px;
	margin:0 auto;	
}

.car-list ul{
	display:block;
}

.car-list .car-list-card-middle{
	position:relative;
	float:left;
	margin:15px 15px 0 15px;
}

.car-list .car-list-card-side
{
	position:relative;
	float:left;
	margin:15px 0 0 0;
}
.car-list-card-middle, .car-list-card-side{
	width:290px;
	height:400px;
	margin:0;
	padding:0;
	background:#FFF;
}

.car-list-card-contant img{
	width:290px;
	height:290px;
	padding:0;
	margin:0;
}

.car-model
{
	text-align:center;
	font-family:"微软雅黑";
	font-size:14px;
	color:#333;
	margin-top:8px;
	overflow:hidden;
}

.car-model span
{
	font-weight:600;
	color:#000;
}
.car-price
{
	text-align:center;
	font-family:"微软雅黑";
	font-size:12px;
	color:#333;
	margin-top:20px;
}

.car-price span
{
	font-weight:600;
	color:#000;
}
.car-fake-price
{
	font-family:"微软雅黑";
	font-size:12px;
	color:#999;
	text-align:center;
}
.car-real-price
{
	font-family:"微软雅黑";
	font-size:24px;
	color:#F00;
	font-weight:600;
	text-align:center;
}
.car-real-price span
{   
	font-family:"微软雅黑";
	font-size:24px;
	color:#F00;
	font-weight:600;
}
/*浮动层CSS*/
.opacityLayer
{
	overflow:hidden;
}
.opacityLayer 
{	
	margin-top:0px;
	font-size:14px;
	color:white;
	text-decoration:none;
	display:block;	
	overflow:hidden;
}

.clear
{
	clear:both;
	height:0;
	overflow:hidden;
}

.clearfix:after
{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

.clearfix
{
	zoom:1;
}

.operate .opacityLayer
{   
	background:url(../img/6.png) repeat-y;
	width:290px;
	height:400px;
	position:absolute;
	z-index:144;
}

.innerCase
{
	width:290px;
	height:80px;
}

.innerCase1
{
	width:290px;
	height:94px;
}

.operate p
{
	font-family:"微软雅黑";
	font-weight:700;
	font-size:20px;
	text-align:center;
	vertical-align:middle;
    opacity:1;
	
}

.goShopping 
{
	position:relative;
	font-family:"微软雅黑";
	font-weight:700;
	font-size:18px;
	text-align:center;
	color:#FFF;
	background:#8e0000;
	display:block;
	width:290px;
	height:26px;
	padding:5px;
	
}

.goShopping:hover
{
	text-decoration:none;
}
.goShopping img
{   
	margin-top:76px;
	background:#F00;
	border:hidden;
    width:290px;
	height:40px;
}
/*浮动层 CSS 结束*/

.go-top
{
	background:url(../img/rightNav/rightNavUp.jpg) no-repeat;
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	_position:absolute;
	right:0.0005%;
	z-index:1500;
	bottom:207px;
}

.go-top a
{	
	display:block;
	width:60px;
	height:60px;
	line-height:60px;
	text-indent:10em;
	background-position:0 -200px;
	overflow:hidden;
}

.go-top a:hover
{
	background:url(../img/rightNav/rightNavUp-hover.jpg) no-repeat;
}

.semocode 
{
	background:url(../img/rightNav/rightNavSemocode.jpg) no-repeat;
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	_position:absolute;
	z-index:1500;
	right:0.0005%;
	bottom:265px;
	border:none;
}
.semocode a
{
	background:url(../img/rightNav/rightNavSemocode.jpg) no-repeat;
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	_position:absolute;
	z-index:1500;
	bottom:265px;
	border:none;
}

.semocode a:hover
{
	background:url(../img/rightNav/rightNavSemocode-hover.jpg) no-repeat;
	width:60px;
	height:60px;
}

.two{
	position:relative;
	right:172px;
	bottom:57px;
	border:none;
	width:172px;
	height:172px; 
	visibility:hidden;
}
.qqCustom
{
	background:url(../img/rightNav/rightNavQQ.jpg) no-repeat;
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	_position:absolute;
	right:0.0005%;
	z-index:1500;
	bottom:323px;
}

.qqCustom a
{	
	display:block;
	width:60px;
	height:60px;
	line-height:60px;
	text-indent:10em;
	background-position:0 -200px;
	overflow:hidden;
}

.qqCustom a:hover
{
	background:url(../img/rightNav/rightNavQQ-hover.jpg) no-repeat;
}
.activityRules
{
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	_position:absolute;
	right:0.0005%;
	z-index:1500;
	bottom:381px;
}

.activityRules a{
	background:url(../img/rightNav/rightNavRules.jpg) no-repeat;
	display:block;
	width:60px;
	height:60px;
	line-height:60px;
	text-indent:10em;
	overflow:hidden;	
}
.activityRules a:hover{
	background:url(../img/rightNav/rightNavRules-hover.jpg) no-repeat;
}

/*left-nav css begin*/
/* 左右分栏设置 */
.leftzone 
{
	float: left;
	width: 100px;
	position:absolute;
	background:#FFF;
	font-family:"微软雅黑";
}
/*边栏设置 */

.modTop
{
	background:#900;
}
.modTop .sidetitle
{
	height:28px;
	font-weight:bold;
	padding:5px 10px;
}

.modTop em
{
	text-align:center;
	color:#FFF;
	font-style:normal;
}
.sidecontent
{
	
}

/****左侧商品导航条****/
.my_left_category
{
	width:100px;
}

.my_left_category h1
{
	height:20px;
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	padding-top:8px;
	margin:0px;
	color:#FFF;
}
.my_left_category .my_left_cat_list
{
	width:100px;
	line-height:13.5pt;
}

.my_left_category .my_left_cat_list h2 
{
	margin:0px;
	padding:3px 5px 0px 9px;
}
.my_left_category .my_left_cat_list h2 a 
{
	color:#d6290b;
	font-weight:bold;
	font-size:14px;
	line-height:22px;
}
.my_left_category .my_left_cat_list h2 a:hover 
{
	color:#d6290b;
	font-weight:bold;
	font-size:14px;
	line-height:22px;
}
.my_left_category .h2_cat
{
	width:100px;
	height:26px;
	line-height:26px;
	font-weight:normal;
	color:#333333;
	position:relative;
	border-bottom:solid #CCC thin;
}
.my_left_category .h2_cat_1
{
	width:100px;
	height:26px;
	line-height:26px;
	font-weight:normal;
	color:#333333;
	position:relative;
}
.my_left_category a
{
	font:14px;
	text-decoration:none;
	color:#000;
	display:block;
	width:100px;
	height:26px;
}
.my_left_category a:hover
{
	text-decoration:none;
	background:url(../img/brand1-hover2.png) repeat;
	width:100px;
	height:26px;
	color:#fff;
}

.my_left_category h3
{
	margin:0px;
	padding:0px;
	height:26px;
	font-size:12px;
	font-weight:normal;
	display:block;
}

.my_left_category h3 a
{	
	line-height:26px;
}

.my_left_category h3 a span
{	
	line-height:26px;
	float:left;
}
.my_left_category .h3_cat
{
	display:none;
	width:204px;
	position:absolute;
	left:100px;
	top:25px;
	margin-top:-26px;
	cursor:auto;
}

.my_left_category .shadow
{
	position:inherit;
	width:204px;
	
}

.my_left_category .shadow_border
{
	position:inherit;
	width:230px;
	margin-top:1px;
	border-left-width:0px;
	background:url(../img/brand1-hover2.png) repeat;
	opcity:1;
	margin-bottom:3px
}
.my_left_category .shadow_border ul
{
	margin:0; 
	padding:0;
	width:230px;
}
.my_left_category .shadow_border ul li 
{
	list-style:none;
	width:230px;
	height:52px;
	letter-spacing:0px; 

}
.my_left_category .shadow_border ul li a
{
	color:#FFF;
	font-size:12px;
	display:block;
	width:210px;
	height:52px;
	margin:0;
	text-align:left;
	padding-left:20px;
	padding-top:10px;
	line-height:20px;
}

.my_left_category .shadow_border ul li a:hover
{
	text-decoration:underline;
}
.my_left_category .active_cat
{ 
	z-index:99;
	cursor:pointer;
	
}
.my_left_category .active_cat h3 
{ 
	font-weight:bold
}
.my_left_category .active_cat h3 span
{ 
	display:none;
}
.my_left_category .active_cat div
{
	display:block;
}
/*left-nav css end*/